.blog-page {
    height: 100vh;
    padding-left: 30px;
    padding-right: 40px;
    font-family: "Gill Sans", sans-serif;
}

.books-image {
    padding-left: 15px;
}

.blog-posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    /*font-family: "Gill Sans", sans-serif;*/
}

.blog-post-option {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.blog-post-option-description {
    text-decoration: none;
    color: black;
    font-size: medium;
    text-align: left;
}

.post-icon {
    width: 100px;
    heigh: 100px;
    align-self: center;
}


