.blog-post {
    padding-left: 150px;
    padding-right: 150px;
    font-family: Optima, sans-serif;
}

.blog-content {
    text-align: left;
    font-size: medium;
}

.italics {
    font-style: italic;
}

.kafka-diagram {

}