nav {
    border: 1px solid grey;
    background-color: black;
    display: flex;
    flex-direction: row;
}

.header-nav-bar {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
}

.nav-link {
    padding: 15px;
    color: white;
    text-decoration: red;
}

.site-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}